.gameHeader {
    font-size: 30px;
    text-align: center;
    color: #303080;
    text-shadow: 0px 0px 5px #151550;
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
}

.characterSelection {
    height: 75%;
    width: 90%;
}

.controlPanel {
    display: grid;
    width: 90%;
    grid-template-columns: 10% 80% 10%;
    grid-gap: 10px;
}

.prevCharacter, .nextCharacter {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    color: #303080;
    text-shadow: 0px 0px 3px #151550;
}

.prevCharacter {
    grid-column: 1;
}

.nextCharacter {
    grid-column: 3;
}

.startButton {
    grid-column: 2;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    color: #303080;
    text-shadow: 0px 0px 3px #151550;
    font-family: 'Press Start 2P', cursive;
}
