.gameHeader {
    font-size: 30px;
    text-align: center;
    color: #fdac00;
    text-shadow: 0px 0px 5px #7f0000;
    font-family: 'Press Start 2P', cursive;
}

.characterSelection {
    display: grid;
    height: 600px;
    width: 90%;
    grid-row: 1 / 5;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.prevCharacter {
    grid-column: 1;
    grid-row: 1 / 5;
}

.nextCharacter {
    grid-column: 3;
    grid-row: 1 / 5;
}

.characterView {
    grid-column: 2;
    griw-row: 1 / 5;
}

.navButton {
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}

.startButton {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}
