.gameHeader {
    font-size: 30px;
    text-align: center;
    color: #fdac00;
    text-shadow: 0px 0px 5px #7f0000;
    font-family: 'Press Start 2P', cursive;
}

.characterSelection {
    column-count: 3;
    column-gap: 30px;
}

.prevCharacter {
    column-span: 1;
}

.nextCharacter {
    column-span: 1;
}

.characterView {
    column-span: 3;
}


.startButton {
    border: none;
    outline: none;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
}

