.main {
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;

    gap: 10px;
    display: grid;

}

.option {
    display: flex;

    border-radius: 5px;
    border: 1px solid black;

    background-color: #821400;

    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;

    cursor: pointer;
}

.option:hover {
    background-color: #fd9401;
}
