.main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.startButton {
    grid-column: 2;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 3px gray;
    color: #303080;
    text-shadow: 0px 0px 3px #151550;
    font-family: 'Press Start 2P', cursive;
}

